<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>Auralis</string>
    <key>CFBundleDisplayName</key>
    <string>Auralis</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>Auralis</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>AuralisDebugLogPath</key>
    <string>$(AURALIS_DEBUG_LOG_PATH)</string>
    <key>AuralisDiagnosticsMode</key>
    <string>$(AURALIS_DIAGNOSTICS_MODE)</string>
    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>NSAudioCaptureUsageDescription</key>
    <string>Auralis needs Screen and System Audio Recording access to apply per-app volume and EQ using Core Audio process taps.</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.michaeltrannhan.Auralis</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>auralis</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
